@import "bootstrap";

@font-face {
  font-family: 'Bariol';
  src: url('/assets/fonts/Bariol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Bariol", Times, serif;
  background: url('images/background-graphic-green.jpg') repeat center center fixed;

}

.navbar {
  margin-bottom: 0;
  background-color: rgba(109,186,148, 0.75);
  border: none;
  border-radius: 0;
}

.navbar .navbar-brand, .navbar .nav > li > a {
  /* About: */
  font-family: HelveticaNeue-Thin;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 24px;
}

.center-block {
  float: none;
}

.tweet-box {
  padding-top: 20px;
}


.header {
  color: white;
  min-height: 300px;
  background-color: rgba(109,186,148, 0.75);
  .header-text {
    margin-bottom: 20px;
  }
  .form-group input {
    width: 260px;
  }
  #phone-preview {
    position: absolute;
  }
  #header-logo {
    margin-right: 20px;
  }
  #download-link,  {
    display: inline-block;
  }
  h1 {
    font-size: 2.750em;
          /* Tipper: */
    font-family: HelveticaNeue-Medium;
    color: #FFFFFF;
    letter-spacing: 0.0625em;
  }

  h2 {
    font-size: 1.5em;
    margin-top:0px;
    /* The Bitcoin wallet t: */
    font-family: HelveticaNeue-Light;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 29px;
  }
  button {
    height: 60px;
    background-color: #63A082;
    color: #FFFFFF;
    width: 20%;
  }
  input {
    height: 60px; 
    width: 60%;
    margin-right: 10px;
    display: inline-block;
  }
  
}


.tweet-box {
  font-size: 1.125em;
  img {
    padding-right: 30px;
  }
}

.display-table {
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}


form#text-me-link-form {
  display: inline;
}